@font-face {
    font-family:hero;
    src: url("../Fonts/herofonts_neoteric/NEOTERIC.ttf");
}
@font-face {
    font-family: quarca;
    src: url("../Fonts/quarca/QuarcaExtRegular.otf");
}

body {
    background-image: url("../images/background1.jpg");  
    text-align: center;
    padding: 0 25px;
    background-repeat: no-repeat;
    
}

#main, #chats {
    width: 38%;
    /* margin: auto; */
    text-align: left;
    float: left;
}
#chats {
    height: 614px;
    overflow: auto;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 12px;
    border: 1px solid white;
    font-family: quarca;
    padding: 50px 60px;
}
#main {
    text-align: center;
    border: 1px solid white;
    border-radius: 12px;
    font-family: hero;
    height: 475px;
    padding-top: 240px;
    padding-left: 60px;
    padding-right: 60px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.singleMessage {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    opacity: 1 !important;
}

.username {
    font-style: italic;
    font-size: 18px;
}

.textMessage {
    font-size: 15px;
}
.messageInput {
    background-color: transparent;
    border-radius: 10px;
    height: 30px;
    width: 280px;
    font-family: quarca;
    text-align: center;
}
.roomInput {
    width: 168px;
    background-color: transparent;
    border-radius: 9px;
    height: 21px;
    font-family: quarca;
    text-align: center;
}
.roomContainer {
    margin-bottom: 20px;
}
.singleMessage.white {
    background-color: white;
}
.singleMessage.gray {
    background-color: #ddd;
    width: 100%;
}

.submitMessage, .createRoom {
  -moz-box-shadow: 0px 10px 14px -7px #9fb4f2;
  -webkit-box-shadow: 0px 10px 14px -7px #9fb4f2;
  box-shadow: 0px 10px 14px -7px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #9db6d4));
  background:-moz-linear-gradient(top, #7892c2 5%, #9db6d4 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #9db6d4 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #9db6d4 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #9db6d4 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #9db6d4 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#9db6d4',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:quarca;
  font-size:10px;
  font-weight:bold;
  padding: 5px;
  text-decoration:none;
  text-shadow:0px 1px 0px #283966;
}
.submitMessage, .createRoom:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9db6d4), color-stop(1, #7892c2));
    background:-moz-linear-gradient(top, #9db6d4 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #9db6d4 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #9db6d4 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #9db6d4 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #9db6d4 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9db6d4', endColorstr='#7892c2',GradientType=0);
    background-color:#9db6d4;
}
.createRoom:active {
    position:relative;
    top:1px;
}


#roomSelect {
    border-radius: 8px;
    background-color: transparent;
    color: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}